{% extends 'base/base.html' %}

{% block login_out %}
{% if user.is_authenticated %}
    <div class="right menu">
        <a class="item" href="{% url 'account_logout' %}">ログアウト</a>
    </div>
{% else %}
    <div class="right menu">
        <a class="item" href="{% url 'account_login' %}">ログイン</a>
    </div>
{% endif %}
{% endblock %}

{% block content %}
    <div class="ui segment">
        <div class="header"><h3>AI-WEBアプリでできること</h3></div>
            <p>・各種画像判定ができる</p>
            <p>・今後ラインナップを追加予定</p>
    </div>
{% endblock %}