{% comment %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
    
<head>
    <meta charset="UTF-8">
    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="{% static 'effi_app/css/bootstrap.min.css' %}">
    <script src="{% static 'effi_app/js/bootstrap.bundle.min.js' %}"></script>

    <!--css-->
    <link rel="stylesheet" type="text/css" href="{% static 'effi_app/css/style.css' %}">
</head>
<!--navbar-->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Efficientnet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="{% url 'effi_app:index' %}">INDEX</a>
                    <a class="nav-link" href="{% url 'effi_app:single' %}">単一処理</a>
                    <a class="nav-link" href="{% url 'effi_app:multi' %}">複数処理</a>
                    <a class="nav-link" href="{% url 'effi_app:effitrain' %}">Efficientnet 学習</a>
                    <a class="nav-link" href="{% url 'effi_app:effipred' %}">Efficientnet 推論</a>
                    <a class="nav-link" href="{% url 'account_logout' %}">ログアウト</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<!--navbar end-->
<body>
    {% block content %}
    {% endblock %}
</body>

</html>
{% endcomment %}

{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="ja">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% block meta_tag %}{% endblock %}

    <!--css-->
    <link rel="stylesheet" type="text/css" href="{% static 'effi_app/css/style.css' %}">
    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="{% static 'effi_app/css/bootstrap.min.css' %}">
    <!--semantic-->
    <link href="{% static 'effi_app/css/semantic.min.css' %}" rel="stylesheet" >
    {% block css %}{% endblock %}

    <title>
        {% block title %}AI-WEBアプリ{% endblock %}
    </title>

</head>

<body>
    <div class="ui stackable inverted menu">
        <div class="header item">
            AI-WEBアプリ
        </div>

        <a class="item" href="{% url 'effi_app:index' %}">INDEX</a>

        <div class="right menu">
            <a class="item" href="{% url 'account_logout' %}">ログアウト</a>
        </div>
    </div>
    
    <div class="ui container" style="min-height:100vh;">
        {% block content %}
        {% endblock %}
    </div>

    <div class="ui inverted stackable footer segment">
        <div class="ui container center aligned">
            <div class="ui horizontal inverted small divided link list">
                <a class="item">© 2021 AI-WEBアプリ</a>
                <a class="item">利用規約</a>
                <a class="item">プライバシーポリシー</a>
            </div>
        </div>
    </div>

    <!--bootstrap-->
    <script src="{% static 'effi_app/js/bootstrap.bundle.min.js' %}"></script>
    
    <!--semantic-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'effi_app/js/semantic.min.js' %}"></script>
    {% block js %}{% endblock %}
    
</body>