{% extends 'base/base.html' %}

{% block login_out %}
    <div class="right menu">
        <a class="item" href="{% url 'account_logout' %}">ログアウト</a>
    </div>
{% endblock %}

{% block content %}
<!--<h3>Efficient 学習</h3>-->
<!--<a href="{% url 'account_logout' %}">ログアウト</a>
<h6><a href="{% url 'effi_app:index' %}">インデックス</a></h6>-->
<div class="ui segment">
    <div class="header"><h3>Efficient 学習</h3></div>
        <p>・EfficientNet B0モデルで学習できます</p>
        <p>・学習に使用する画像は、ラベルNo_ラベル名_ラベル番号.jpgになります</p>
        <p>　例）車と飛行機の画像を10枚づつ学習する時</p>　
        <p>　　0_car_1.jpg・・・0_car_10.jpg</p>
        <p>　　1_airplane_0.jpg・・・1_airplane_10.jpg</p>
        <p>・学習画像を選択し学習してください</p>
        <p>※学習ファイルは1ユーザにつき1つです</p>
</div>

<table>
<form action="{% url 'effi_app:effitrain' %}" method="POST" enctype="multipart/form-data">
   {% csrf_token %}
   {{ form }}
   <tr><td></td><td><input type="submit" class="ui blue inverted button" value="学習開始" /></td></tr>
</form>
</table>

<p>{{effidata}}</p>
<!--
<div class="div1" style="height:800px; width:99%; overflow-y:scroll; ">
    <table class="table table-striped">
        <thead class = "sticky-top bg-success">
        <tr>
            <th>日付</th><th>画像</th><th>推論結果</th>
        </tr>
        </thead>
        <tbody>
        {% for item in effidata %}
            {% if not item in 'none' %}
            <tr>
                <td>{{ item.pub_date }}</td>
                <td><img src="{{ item.photo_image.url }}" width="100" height="100"/></td>
                <td>{{ item.pred_result }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
-->
{% endblock %}