{% extends 'base/base.html' %}

{% block login_out %}
    <div class="right menu">
        <a class="item" href="{% url 'account_logout' %}">ログアウト</a>
    </div>
{% endblock %}

{% block content %}
<!--<h3>単一処理</h3>-->
<!--<a href="{% url 'account_logout' %}">ログアウト</a>
<h6><a href="{% url 'effi_app:index' %}">インデックス</a></h6>-->
<div class="ui segment">
    <div class="header"><h3>単一処理</h3></div>
        <p>・EfficientNet B0モデルで画像判別できます</p>
        <p>・画像を1枚選択し推論してください</p>
</div>

<table>
<form action="{% url 'effi_app:single' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <tr><td></td><td><input type="submit" class="ui blue inverted button" value="推論開始" /></td></tr>
</form>
</table>

<div class="div1">
{% for item in effidata %}
    {% if not item in 'none' %}
    <tr>
        <p>日付：{{ item.pub_date }}</p>
        <td><img src="{{ item.photo_image.url }}" width="100" height="100"/></td>
        <p>推論結果：{{ item.pred_result }}</p>
    <tr>
    {% endif %}
{% endfor %}
</div>

{% endblock %}